@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tools-body {
    height: calc(100vh - 160px);
  }

  /* 主页内容区域样式 */
  .main-content {
    @apply h-full w-full mt-5 lg:mt-10;
  }

  .scrollbar {
    /* 滚动槽 */
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.06);
    }
    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.12);
    }
  }
}
