@font-face {
  font-family: "iconfont"; /* project id 3433072 */
  src: url("");
  src: url("?#iefix") format("embedded-opentype"),
    url("//at.alicdn.com/t/font_3433072_vye6ejsttnc.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_3433072_vye6ejsttnc.woff") format("woff"),
    url("//at.alicdn.com/t/font_3433072_vye6ejsttnc.ttf") format("truetype"),
    url("#iconfont") format("svg");
  font-display: auto;
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
